.row {
	margin-top: 20px;
}

.classification {
	font-size: 20px;
	font-weight: bold;
}

.ui.dropdown.filter {
	background: #FFFFFF;
	border: 1px solid rgba(34, 36, 38, 0.15);
	color: rgba(0, 0, 0, 1);
	box-shadow: none;
	border-radius: 0.28571429rem;
	display: inline-block;
  	padding: 0.6em 0.5em 0.6em 1em;

}

#main_menu {
  background-color: #ff69b4;
  margin-bottom: 50px;
}
#main_container {
	margin-top: 10px;
}

.ui.message {
	font-size: 18px;
	background: #FFFFFF;
    padding-bottom: 2em;
}

.ui.message.search:hover {
	border: 2px solid #ff00ff;
}

.ui.message.top {
    padding-top: 0px;
}

#search-button {
	background: #ff69b4;
	color: rgba(255, 255, 255, 0.9);
}

.intro-text {
	font-size: 16px;
}
