#main_menu {
	background: linear-gradient(to right, deeppink, darkviolet);
}

body {
  background-color: #E9EBEE;
}


div.ui.grid {
	margin-top: 15px;
}

div.ui.card {
	background-color: white;
	width: auto;
}


div.ui.comments {
	margin-top: 0px;
	margin-left: 10px;
}

div.extra.image {
	margin: 5px;
}

div#ranking {
	margin-top: 10px;
}

div.main {
  background-color: #FFFFFF;
  margin-top: 5px;
}

div#BuskerInfo {
  margin-right: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

i#SNS {
  float: right;
  font-size: 24px !important;
  cursor: pointer;
}

table.BuskerInfo {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #FFD5EA;
    border-left: 3px solid #ff69b4;;
  margin : 20px 10px;
}

table.BuskerInfo th {
    width: 170px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ff69b4;
    border-right: 1px solid #FFD5EA;
    border-bottom: 1px solid #FFD5EA;

}
table.BuskerInfo td {
    width: 349px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #FFD5EA;
    border-bottom: 1px solid #FFD5EA;
}

table.BuskerSchedule {
  border-collapse: collapse;
  text-align: left;
}

label {
  display: inline-block;
  width: 5em;
}

span.tooltip {
  color: blue;
  text-decoration: underline;
}

div.video {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap;
}

div.row div div.inner {
  background-color: #FFFFFF;
  height:100%;
  padding: 15px;
}